# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Models
models/*.pkl
models/*.joblib

# IDE
.idea/
.vscode/

# macOS
.DS_Store


# Dataset
data/raw/*.csv
